In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('train.csv')
print(data)

      POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
0         Owner                   0     0        2       BHK  1300.236407
1        Dealer                   0     0        2       BHK  1275.000000
2         Owner                   0     0        2       BHK   933.159722
3         Owner                   0     1        2       BHK   929.921143
4        Dealer                   1     0        2       BHK   999.009247
...         ...                 ...   ...      ...       ...          ...
29446     Owner                   0     0        3       BHK  2500.000000
29447     Owner                   0     0        2       BHK   769.230769
29448    Dealer                   0     0        2       BHK  1022.641509
29449     Owner                   0     0        2       BHK   927.079009
29450    Dealer                   0     1        2       BHK   896.774194

       READY_TO_MOVE  RESALE                            ADDRESS  LONGITUDE  \
0                  1       1              Ksfc Layout,Bangalore  12.969910
1                  1       1          Vishweshwara Nagar,Mysore  12.274538
2                  1       1                   Jigani,Bangalore  12.778033
3                  1       1        Sector-1 Vaishali,Ghaziabad  28.642300
4                  0       1                   New Town,Kolkata  22.592200
...              ...     ...                                ...        ...
29446              1       1               Shamshabad Road,Agra  27.140626
29447              1       1  E3-108, Lake View Recidency,,Vapi  39.945409
29448              1       1                  Ajmer Road,Jaipur  26.928785
29449              1       1             Sholinganallur,Chennai  12.900150
29450              1       1                   Jagatpura,Jaipur  26.832353

        LATITUDE  TARGET(PRICE_IN_LACS)
0      77.597960                   55.0
1      76.644605                   51.0
2      77.632191                   43.0
3      77.344500                   62.5
4      88.484911                   60.5
...          ...                    ...
29446  78.043277                   45.0
29447 -86.150721                   16.0
29448  75.828002                   27.1
29449  80.227910                   67.0
29450  75.841749                   27.8

[29451 rows x 12 columns]

In [4]:
data.set_index('POSTED_BY',inplace=True)
print(data)

           UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
POSTED_BY
Owner                       0     0        2       BHK  1300.236407
Dealer                      0     0        2       BHK  1275.000000
Owner                       0     0        2       BHK   933.159722
Owner                       0     1        2       BHK   929.921143
Dealer                      1     0        2       BHK   999.009247
...                       ...   ...      ...       ...          ...
Owner                       0     0        3       BHK  2500.000000
Owner                       0     0        2       BHK   769.230769
Dealer                      0     0        2       BHK  1022.641509
Owner                       0     0        2       BHK   927.079009
Dealer                      0     1        2       BHK   896.774194

           READY_TO_MOVE  RESALE                            ADDRESS  \
POSTED_BY
Owner                  1       1              Ksfc Layout,Bangalore
Dealer                 1       1          Vishweshwara Nagar,Mysore
Owner                  1       1                   Jigani,Bangalore
Owner                  1       1        Sector-1 Vaishali,Ghaziabad
Dealer                 0       1                   New Town,Kolkata
...                  ...     ...                                ...
Owner                  1       1               Shamshabad Road,Agra
Owner                  1       1  E3-108, Lake View Recidency,,Vapi
Dealer                 1       1                  Ajmer Road,Jaipur
Owner                  1       1             Sholinganallur,Chennai
Dealer                 1       1                   Jagatpura,Jaipur

           LONGITUDE   LATITUDE  TARGET(PRICE_IN_LACS)
POSTED_BY
Owner      12.969910  77.597960                   55.0
Dealer     12.274538  76.644605                   51.0
Owner      12.778033  77.632191                   43.0
Owner      28.642300  77.344500                   62.5
Dealer     22.592200  88.484911                   60.5
...              ...        ...                    ...
Owner      27.140626  78.043277                   45.0
Owner      39.945409 -86.150721                   16.0
Dealer     26.928785  75.828002                   27.1
Owner      12.900150  80.227910                   67.0
Dealer     26.832353  75.841749                   27.8

[29451 rows x 11 columns]

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.shape

(29451, 11)

In [7]:
data.isnull()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
POSTED_BY,,,,,,,,,,,
Owner,False,False,False,False,False,False,False,False,False,False,False
Dealer,False,False,False,False,False,False,False,False,False,False,False
Owner,False,False,False,False,False,False,False,False,False,False,False
Owner,False,False,False,False,False,False,False,False,False,False,False
Dealer,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
Owner,False,False,False,False,False,False,False,False,False,False,False
Owner,False,False,False,False,False,False,False,False,False,False,False
Dealer,False,False,False,False,False,False,False,False,False,False,False
Owner,False,False,False,False,False,False,False,False,False,False,False
Dealer,False,False,False,False,False,False,False,False,False,False,False

In [8]:
data.columns

Index(['UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'BHK_OR_RK', 'SQUARE_FT',
       'READY_TO_MOVE', 'RESALE', 'ADDRESS', 'LONGITUDE', 'LATITUDE',
       'TARGET(PRICE_IN_LACS)'],
      dtype='object')

In [9]:
data.head(10)

,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
POSTED_BY,,,,,,,,,,,
Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
Owner,0,0,3,BHK,1250.000000,1,1,"South Chittoor,Kochi",10.033280,76.282571,42.0
Dealer,0,0,3,BHK,1495.053957,1,1,"Sodala,Jaipur",26.916347,75.795600,66.5
Owner,0,1,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0
Dealer,0,1,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6
Owner,0,1,2,BHK,879.120879,1,1,"Chromepet,Chennai",12.951610,80.140970,36.0

In [10]:
data.tail()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
POSTED_BY,,,,,,,,,,,
Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [11]:
data.values

array([[0, 0, 2, ..., 12.96991, 77.59796, 55.0],
       [0, 0, 2, ..., 12.274538, 76.644605, 51.0],
       [0, 0, 2, ..., 12.778033, 77.632191, 43.0],
       ...,
       [0, 0, 2, ..., 26.928785, 75.828002, 27.1],
       [0, 0, 2, ..., 12.90015, 80.22791, 67.0],
       [0, 1, 2, ..., 26.832353, 75.841749, 27.8]], dtype=object)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29451 entries, Owner to Dealer
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   UNDER_CONSTRUCTION     29451 non-null  int64
 1   RERA                   29451 non-null  int64
 2   BHK_NO.                29451 non-null  int64
 3   BHK_OR_RK              29451 non-null  object
 4   SQUARE_FT              29451 non-null  float64
 5   READY_TO_MOVE          29451 non-null  int64
 6   RESALE                 29451 non-null  int64
 7   ADDRESS                29451 non-null  object
 8   LONGITUDE              29451 non-null  float64
 9   LATITUDE               29451 non-null  float64
 10  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(2)
memory usage: 2.7+ MB